.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
