.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  z-index: 1994;
}

.content {
  padding-left: calc(max(22px, env(safe-area-inset-left)));
  padding-right: calc(max(22px, env(safe-area-inset-right)));
  margin: auto;
  max-width: 1024px;
  height: 100%;
  padding: 0 22px;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.action {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
