.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerSubmitted {
  background-color:#0013BD;
}

.title {
  margin: 0;
}

.subtitle {
  color: var(--color-subtle);
}

.header {
  padding-left: 22px;
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomGutter {
  margin-bottom: 48px;
}

.items {
  width: 100%;
  max-width: 1024px;
}

.modalText {
  opacity: var(--color-subtle);
  line-height: 28px;
  margin: 0;
  margin-bottom: 1em;
}

.modalTitle {
  color: var(--color-modal-text);
  size: 54px;
}

.detailList {
  list-style: none;
  padding-inline-start: 0;
}

.detailList li {
  weight: 400;
  margin-bottom: 6px;
}

.addrRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.rmBtn {
  color: #FF0000;
  cursor: pointer;
}

.errMsg {
  color: #FF0000;
}

.addrInput {
  margin-bottom: 10px;
  width: 100%;
}

.selectedPreview {
  height: 180px;
  width: 180px;
  margin-bottom: 12px;
}

